<h1 style='color:<%= @color %>'>My name is <%= @name %></h1>

<form action="/named-cat" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>

<div>
<% if @adorable == "true"  %>
  <img style='border: 3px dashed blue' src= 'https://imgur.com/jFaSxym.png'>
<% else %>
  <img style='border: 3px dashed red' src= 'https://imgur.com/jFaSxym.png'>
<% end %>
</div>